.margintop2{
	margin-top: 2%;
}

.margintop1{
	margin-top: 1%;
}

.margincenter{
	margin-top: 10%;
}

@media only screen and (max-width: 720px) {
   .margintop4{ 
   margin-top: 8%;
   }
   
   .margintopmobile1{ 
   margin-left: 5%;
   }
   
   .margintopmobile2{ 
   margin-top: 6%; 
   display: inline-block;
   float: left;
   }
   
	.footertweaks{
	display: inline-block;
	margin-top:50px;
	width: 1080px;
	}
}

.demo-card-wide.mdl-card {
  width: 512px;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.margintopmobile2{ 
	margin-left: 4%;
}

.hoverable{
	transition:box-shadow .25s;
	box-shadow:0
}
.hoverable:hover{
	transition:box-shadow .25s;
	box-shadow:0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)
}

.mobiletable{
	overflow-x: auto;
}

@media only screen and (min-width: 721px) {
   .topmargin{
	margin-top: 50px;
	}
}

.info ul{
	float: left;
	margin: 0 20 0 0;
}