<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="13.00:00:00" />
    </staticContent>
	<httpProtocol>
		<customHeaders>
			<add name="ETag" value="20180320" />
		</customHeaders>
	</httpProtocol>
  </system.webServer>
</configuration>
