  <input class="with-gap dateDay" name="date" type="radio" id="option-1" value="Mon" />
  <span>MONDAY</span>
</label>
<label>
  <input class="with-gap dateDay" name="date" type="radio" id="option-2" value="Tue" />
  <span>TUESDAY</span>
</label>
<label>
  <input class="with-gap dateDay" name="date" type="radio" id="option-3" value="Wed" />
  <span>WEDNESDAY</span>
</label>
<label>
  <input class="with-gap dateDay" name="date" type="radio" id="option-4" value="Thu" />
  <span>THURSDAY</span>
</label>
<label>
  <input class="with-gap dateDay" name="date" type="radio" id="option-5" value="Fri" />
  <span>FRIDAY</span>
