<link rel="icon" href="images/favicon.png">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="preload" href="https://fonts.googleapis.com/icon?family=Material+Icons" as="style" onload="this.rel='stylesheet'">
<link rel="preload" href="css/materialize.min.css?ver=1.2" as="style" onload="this.rel='stylesheet'">
<script type="text/javascript" src="js/materialize.min.js?ver=1.2" async></script>
<script>function initialize() { if ("rgb(66, 66, 66)" != window.getComputedStyle(document.getElementById("meme"), null).getPropertyValue("background-color")) {
  var a = document.createElement("link"); a.href = "css/materialize.min.css?ver=1.2"; a.type = "text/css"; a.rel = "stylesheet"; document.getElementsByTagName("head")[0].appendChild(a); console.log("CSS workaround loaded");}}
  window.addEventListener ? window.addEventListener("load", initialize, !1) : window.attachEvent ? window.attachEvent("onload", initialize) : window.onload = initialize;
</script>
