<div class='marginleft4' id='tutorial'><h4 class="mouth">ಠ_ಠ</h4>
<h5>Available classrooms</h5>
<p>Goto available tab to view classrooms that are currently available for use<br /><i>Next class : none</i> means there are no more classes for that classroom</p>
<div class='divider'></div><h5>Usage</h5>
The keyword [ Lab / B- / Studio ] is used to search for classes<br>You can also search for your intake timetable here<br>Check the about tab for more</p>
<div class='divider'></div><h5>PWA</h5>
<p>This website has been updated to a <a href="https://developers.google.com/web/progressive-web-apps/" target="_blank">Progressive Web App</a><br>Clear site settings and click add to homescreen to install this application</p>
<br><b>Introduction to app :</b><br><a href="https://youtu.be/dv-2wEoMJ3A" target="_blank">https://youtu.be/dv-2wEoMJ3A</a><br></div>
