<div class='marginleft4' id='tutorial'><h4 class="mouth">ಠ_ಠ</h4>
<p><h5>App update</h5>
<p>This website has been updated to a <a href="https://developers.google.com/web/progressive-web-apps/" targer="_blank">progressive web app</a>.
Click add to homescreen for accessing this application directly from your phone without using the browser.<br><br><b>Problems with this application?</b><br>Click <a onclick="location.reload();">me</a> to reload.
<br><br><b>Introduction to app :</b><br><a href="https://youtu.be/dv-2wEoMJ3A" target="_blank">https://youtu.be/dv-2wEoMJ3A</a>
<br /><div class='divider'></div><h5>Usage</h5>
The keyword [ Lab / B- / Studio ] is used to search for classes<br>You can also search for your intake timetable here<br>Check the about tab for more<br></p>
<br /><div class='divider'></div><h5>Analyticky</h5><p>A nice word chart of the searches made<br />Click the orange analyticky text below</p></div>
