<div class='marginleft4' id='tutorial'><h4 class="mouth">ಠ_ಠ</h4>
<h5>Usage</h5>
The keyword [ Lab / B- / Studio ] is used to search for classes<br>You can also search for your intake timetable here<br>Check the about tab for more</p>
<div class='divider'></div><h5>PWA</h5>
<p>This website has been updated to a <a href="https://developers.google.com/web/progressive-web-apps/" target="_blank">Progressive Web App</a></p>
<blockquote>
<a id="btn-Install" class="pink darken-1 waves-effect waves-light btn-small marginbottom10" disabled><i class="material-icons left">file_download</i>Install</a><br>
Clear site settings and click add to homescreen to install this application<br>
</blockquote>
<br><br><b>Introduction to app :</b><br><a href="https://youtu.be/dv-2wEoMJ3A" target="_blank">https://youtu.be/dv-2wEoMJ3A</a>
<br></div>
